body {
  background-color: #e9ecef;
  font-family: 'Arial', sans-serif;
}

h1,
h2 {
  color: #495057;
}

.section-box {
  text-align: justify;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section-box p {
  font-size: 16px;
  color: #fff;
}

.section-box input,
.section-box select {
  margin-top: 10px;
}

.section-box button {
  margin-top: 10px;
}

.feedback {
  margin-top: 10px;
}

.explanation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.explanation__header {

}

.explanation__cuerpo {
  width: 80%;

}

.titulo {
  text-align: center;
  color: white;
}

.structure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 2em 0 3em 0;
}

.structure p {
  color: white;
  text-align: center;
  font-size: 2em !important;
  font-weight: 600;
  margin: 0em 0.2em;
  transition: transform 0.3s ease, margin 0.3s ease;
}

.structure p:hover {
  cursor: pointer;
}

.cursor_normal {
  cursor: default;
}